#Post-Container {
    height: calc(100vh * .85); /* opera */
    min-width: 600px;
    margin-left: calc(100vw * .01);
}



#Post-Recommended {
    min-height: 170vh; /* opera */
    height: auto;
}

#Post-Comments {
    min-height: 85vh; /* opera */
    height: auto;

}

#Post-Img {
    height: calc(100vh * .85); /* opera */
}

@media only screen and (max-width: 725px) {
    /* For mobile phones: */
    #Post-Container, #Recommended{
        margin-left: calc(100vw * .05);
    }
    
}