:root {
  --bg: #303034;
  --fg: rgba(65, 65, 70, 1);
}

#Post-Page {
  background-color: var(--bg);
  min-height: 300vh;
  position: absolute;
  max-height: 300vh;
}

#Post-Container {
  height: calc(100vh * 0.85); /* opera */
  min-width: 600px;
  flex: 3;
}

#Post-Recommend {
  min-height: 75vh;
  background-color: var(--fg);
  height: auto;
  overflow-x: auto;
  max-height: 200vh;
}

#Post-Description {
  min-height: 50vh; /* opera */
  max-height: 50vh;
  max-width: 480px;
  background-color: var(--fg);
}

#Post-Img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: var(--fg);
  box-shadow: 0 0 50px black;
  min-height: 300px;
  min-width: 300px;
}

#Post-UserValues {
  min-height: 50vh;
  max-height: 50vh;
  width: 100%;
  background-color: #141212a4;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 0 15px rgb(19, 19, 19);
}

#Post-Comments {
  min-height: 70vh; /* opera */
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 0 0 5% 5%;
}

#Comment-List {
  min-height: 30rem;
  max-height: 30rem;
  height: 100%;
  width: 100%;
  background-color: #1a1616;
  padding-top: 10px;
}

.Comment-Item {
  padding: 10px;
  margin-left: 2rem;
}

.Inner-Item {
  width: 90%;
  left: 10%;
  margin-left: 5rem;
}

.Comment-Submit {
  margin: 1% 6%;
  display: relative;
}

.Comment-Submit-TextArea {
  display: relative;
  width: 100%;
}

.Design {
  min-height: 10vh;
  max-height: 10vh;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 0 15px black;
}

.ProfilePic div {
  border-radius: 100%;
}

.ProfileVals {
  padding: 1rem;
}

.card-img img {
  min-height: 200px;
  min-width: 236px;
}

@media only screen and (max-width: 1301px) {
  /* For mobile phones: */

  .Post-Recommend {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 725px) {
  /* For mobile phones: */
  #Post-Container,
  #Recommended {
    margin-left: calc(100vw * 0.05);
  }
}
