.positioning {
    position: absolute;
    bottom: 100px;
    transform-style: preserve-3d;
}

#Animated canvas {
  height: 80vh;
}

@media only screen and (max-width: 645px) {
    .positioning {
      display: none;
    }
  }

