html {
    padding: 0;
    margin: 0;
}

#profile {
    min-height: 20.25rem;
    height: auto;
    width: 95vw;
    background-color: #303034 ;
}

#background {
    min-height: 20rem;
    border-radius: 15px 15px 0px 0px;

}

#editBut {
    min-height: 2rem;
    min-width: 2rem;
    width: 2rem;
    left: 90%;
    margin-top: 10px;
}

#userPic {
    min-height: 90%;
    min-width: 92%;
    border-radius: 15px;
    left: 5px;
    top: 5px;
}

.userBorder {
    min-height: 8rem;
    min-width: 8rem;
    width: 6%;
    border-radius: 15px;
    bottom: 5rem;
    left: 2rem;
    background-color: #303034 ;

}

#userDesc {
    bottom: 70px;
    width: 90%;
}

/*Portfolio*/
#portfolio {
    background-color: #303034;
    width: 95%;
    min-height: 50vh;
    height: auto;
}